* {
    margin: 0px; 
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}



#profile-tab {
    background-color: #549c0d; 
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    width: 120px;
    margin: 5px;
    
}
#profile-tab:hover {
    background-color: #cb2952;
}

#home-tab {
    background-color: #549c0d;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    width: 120px;
    margin: 5px;
    
}
#home-tab:hover {
    background-color: #cb2952;
}


#logout {
    background-color: #549c0d;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    width: 120px;
    margin: 5px;   
    right: 50px;
}
#logout:hover {
    transition: 250ms;

    background-color: #cb2952;
}




.tab-content>.active {
    width: 80%;
}

#card-contend {
    height: 35%;
    /* width: 5%; */
    box-shadow: 4px 4px 4px 4px #E6E6E6;
    padding: 1em;
    background-color: #fff;
    border: 10px #000000;
}



.containerLogin{ 
    background-image: url("img/Beach.jpg");
    background-position: center;
	background-attachment: fixed;
	background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(57, 194, 185);
    background-color: rgb(52, 178, 216);
    background-color: #F2F2F2;
    background-position: center;
	background-attachment: fixed;
	background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* .fondoImag{
    width:100% ;
    height:auto ;
} */

.boxLogin{
    width: 25%;
    height: 470px;
    text-align: center;
    border-radius: 1px;
    background-color: #ffffff;
    padding: 30px 20px;
}

.imglogin img{    
    max-width: 50%;
    margin-left: 100px;
    margin: 0;
    padding: 0;
    border: 0;    
    vertical-align: baseline;

}

.title{
    color: #000000;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 50%;
}

.title{
    font-family: 'Roboto', sans-serif;
}

h2{
    margin: 0px 500px;
    font-size: 30%;
}
.containerLogin input[type=text]{
    color: #495057;
    width: 300px;
    height: 35px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-top: 12px;
    outline-color: #58C0B5;
    border-radius: 5px;
}

.containerLogin input[type=password]{
    width: 300px;
    height: 35px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-top: 15px;
    outline-color: #58C0B5;
}

.containerLogin input[type=button]{
    width: 140px;
    height: 35px;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

.other{
    color: #999;
}

.loginReds{
    text-align: center;
}

#btnGoogle{
    background-color: #d34836;
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin:10px;
}

#btnFacebook{
    background-color: #3b5998;
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    width: 35%;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin:10px;
}
.boxCreateLogin{
    margin-top: 20px;
}

.boxIngresarLogin{
    margin-top: 20px;
}

#initSecion{
    color: #000000;
    text-decoration: none;
}

#createCuenta{
    color: #000000;
    text-decoration: none;
}

.boxRegister{
    width: 25%;
    height: 470px;
    text-align: center;
    border-radius: 1px;
    background-color: #ffffff;
    padding: 30px 20px;
    display: none;
}

.titletwo{
    margin-top: 40px;
}

/*Post*/

#containerPost{
    width: 100%;
    height:auto;
}

#userPost{
    float: left;
    width: 20%;
    height: 675px;
    background-color: #55bdbe;
    margin: 0%;
}

#submitPost{
    float: right;
    margin-top: 100px;
    margin-right: 700px;
}


#contentPost{
    float: right;
    margin-top: 100px;
    margin-right: 700px;
}

#postArea{
    width: 200%;
    height: 90px;
    resize: none;
}


.boxPost{
    width: 200%;
    height: 90px;
    resize: none;
}


#buttonPost{
    width: 80px;
    height: 35px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}


footer{
    width: 100%;
    height: 52px;
    background-color: #000000;
    text-align: center;
}

.textfooter{
    font-size: 18px;
    color: #ffffff;
    padding-top: 15px;
}

.card-body{
    width: 60%;
    /* margin: 50px 250px; */
}
#card-contend{
    margin-left: 50px;
    margin-top: 50px;
    width: 80%;
    margin: 50px 250px;
}

#card-text{
    width: 120%;
    padding: 1.25rem;
}

/* boton de publicar */
#btnSave{    
    background-color: #549c0d;
    color: #fff;
    font-size: 20px;
    width: 23%;
    height: 50px;

}
h4{
    color: #f45e0b;
    font-weight: bolder;
    font-size: 1em;
}

/* Estilo al los botones Me gusnta, Editar, eliminar */
button {
    background-color: #549c0d;
    color: #fff;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    font-size: 20px;
    width: 12%;
    margin: 5px;
    }

button:hover {
    background-color: #cb2952;
}



.advertising{
    display: inline-block;
    border-radius: 5px;
    background-color: #E5E3E3;
    text-align: center;
    margin: 10px;
    padding: 5px;
  }

.right{
    width: 25%;
  }

  @media only screen and (max-width: 1440px) {
    .boxLogin{
        width: 25%;
        height: 470px;
    } 

    .containerLogin input[type=password]{
        width: 90%;
    }
    .containerLogin input[type=text]{
        width: 90%;
    }

  }


  @media only screen and (max-width: 1024px) {
    .boxLogin{
        width: 30%;
        height: 470px;
    }  

    .containerLogin input[type=password]{
        width: 90%px;
    }
    .containerLogin input[type=text]{
        width: 90%px;
    }
}


    @media only screen and (max-width: 1000px)  and (max-width: 776px)  {
    .boxLogin{
        width: 50%;
        height: 470px;
    }  
}


  @media only screen and (max-width: 768px) {
    

    .boxLogin{
        width: 40%;
        height: 470px;
    }

    .containerLogin input[type=password]{
        width: 85%;
    }
    .containerLogin input[type=text]{
        width: 85%;
    }    
}


@media only screen and (max-width: 425px) {
   

    .boxLogin{
        width: 40%;
        height: 470px;
    }

    .containerLogin input[type=password]{
        width: 85%;
    }
    .containerLogin input[type=text]{
        width: 85%;
    }    
}

  @media only screen and (min-width: 300px) and (max-width: 375px) {

     .right,{
      display: none;
    }

    .boxLogin{
        width: 500%;
        height: 500px;
    }
    .containerLogin input[type=password]{
        width: 80%;
    }

    .containerLogin input[type=text]{
        width: 80%;
    }  

}

textarea{
    width: 80%;
    height: 150px;
    padding: 1em;
    margin: 5px;
}