* {
    margin: 0px; 
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.background{
    width: 100%;
    background-image: url("img/background.jpg");
    background-position: center;
	background-attachment: fixed;
	background-size: cover;
    background-repeat: no-repeat;
}

.boxLogin{
    width: 300px;
    height: 300px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: #74aa49;
    margin: 150px auto;
}

.title{
    color: #ffffff;
    margin-bottom: 20px;
}

.title{
    font-family: 'Roboto', sans-serif;
}

.containerLogin input[type=text]{
    width: 250px;
    height: 25px;
    border-radius: 5px;
    margin-top: 15px;
}

.containerLogin input[type=password]{
    width: 250px;
    height: 25px;
    border-radius: 5px;
    margin-top: 15px;
}

.containerLogin input[type=button]{
    width: 120px;
    height: 35px;
    background-color: #FFC300;
    color: #000000;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

#message{
    text-align: center;
}

#message h3{
    color: rgb(224, 149, 9);
    font-size: 30px;
}

.boxRegister{
    width: 300px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: #74aa49;
    margin: 150px auto;
    display: none; 
}



